<section ng-init="tab = 1">
    <ul class="nav nav-pills">
        <li ng-class="{ active:panels.isSelected(1) }"><a href ng-click="panels.selectTab(1)">Description</a></li>
        <li ng-class="{ active:panels.isSelected(2) }"><a href ng-click="panels.selectTab(2)">Specification</a></li>
        <li ng-class="{ active:panels.isSelected(3) }"><a href ng-click="panels.selectTab(3)">Reviews</a></li>
    </ul>

    <div class="panel" ng-show="panels.isSelected(1)" product-description></div>
    <div class="panel" ng-show="panels.isSelected(2)" product-specs></div>
    <div class="panel" ng-show="panels.isSelected(3)" product-reviews></div>
</section>